html, body, #app {
  height: 100%;
  overflow: hidden;
}

html, body, div, ul, ol, main, section {
  &::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --van-nav-bar-background-color: #ff5600 !important;
  --van-nav-bar-title-text-color: #fff !important;
}